{% extends 'base.html' %} <!--наследую из base.html-->
{% load static%}  <!--загружаю статические файлы-->
{% block title %} Cart {% endblock %}
{% block content %} <!--вставляю блок на который сослался в base.html-->

  {% if not cart_items %}
<div class="text-center"><br>
  <h1 class="text-center product-title">Your cart is empty</h1>
  <br>
  <p class="text-center"><a href="{% url 'home' %}">Here</a> to go back to products</p>
</div>
  {% else %}
<div class="text-center">
  <br>
  <div class="text-center product-title">
    Shopping cart
  </div>
</div>
<div class="row mx-auto">
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <table class="table cart-table">
      <thead class="cart-thead">
      <tr>
        <th colspan="4">
           Your items
        </th>
      </tr>
      </thead>
      {% for cart_item in cart_items %}
      <tr>
        <td>
          <a href="{{ cart_item.product.get_url}}">
            <img src="{{ cart_item.product.image.url }}" alt="" height="100" width="auto">
          </a>
        </td>
        <td class="text-left">
          {{ cart_item.product.name }}
          <br>
          SKU:  {{ cart_item.product.id }}
          <br>
          Unit Price: {{ cart_item.product.name }} gold(s)
          <br>
          Quantity: {{ cart_item.quantity }}
          * {{ cart_item.product.price}} gold(s)
        </td>
        <td>{{ cart_item.sub_total }} gold(s)</td>
        {% if cart_item.quantity < cart_item.product.stock %}
        <td>
          <a href="{% url 'add_cart' cart_item.product.id %}">
            <span class="material-icons cart-icon">
            add_shopping_cart
            </span>
          </a>
          <a href="{% url 'cart_remove' cart_item.product.id %}">
            <span class="material-icons cart-icon">
            remove_circle_outline
            </span>
          </a>
          <a href="{% url 'cart_remove_product' cart_item.product.id %}">
            <span class="material-icons cart-icon">
            remove_shopping_cart
            </span>
          </a>
        </td>
        {% else %}

        <td>

          <a href="{% url 'cart_remove' cart_item.product.id %}">
            <span class="material-icons cart-icon">
            remove_circle_outline
            </span>
          </a>
          <a href="{% url 'cart_remove_product' cart_item.product.id %}">
            <span class="material-icons cart-icon">
            remove_shopping_cart
            </span>
          </a>
        </td>
        {% endif %}

      </tr>
      {% endfor %}
    </table>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
    <table class="table cart-table">
      <thead class="cart-thead">
        <tr>
          <th colspan="4">
            Check out
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Please check your cart before payment.
          </td>
        </tr>
        <tr class="text-start">
          <td>
            Your total bill is: {{ total }} gold(s)</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mx-100%">
      <a href="{% url 'home' %}">
         <button type="button" class="btn btn-lg btn-block bg-dark text-white">Back to products</button>
      </a>
    </div>
  </div>
</div>
  {% endif %}









{% endblock %}